<div class="row">
  <div class="col-xxl-12">
    <nb-card size="giant">
      <nb-card-header>Zużycie wody</nb-card-header>
      <nb-card-body>
        <ngx-profit-chart #profitChart1></ngx-profit-chart>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxl-12">
    <ngx-country-orders></ngx-country-orders>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xxl-12">
    <nb-card size="medium">
      <nb-card-header>Kategorie</nb-card-header>
      <nb-card-body>
        <ngx-radar-chart #profitChart2>
        </ngx-radar-chart>
      </nb-card-body>
    </nb-card>

  </div>
</div> -->