<!--
<div class="row">
  <div class="col-xxl-6">
    <ngx-earning-card></ngx-earning-card>
  </div>

  <div class="col-xxl-6">
    <ngx-profit-card></ngx-profit-card>
  </div>
</div>
-->
<div class="row">
  <div class="col-xxl-12">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-12">
    <ngx-country-orders></ngx-country-orders>
  </div>
</div>

<!--
<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
-->